{% extends 'comments/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center mb-4">
                <h2 class="display-4">Select Your YouTube Channel</h2>
                <p class="lead">Choose the channel you want to manage.</p>
            </div>

            <form method="post" action="{% url 'select_video' %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="list-group">
                        {% for channel in channels %}
                        <div class="list-group-item list-group-item-action">
                            <input class="form-check-input d-none" type="radio" name="channel_id" id="channel{{ forloop.counter }}" value="{{ channel.id }}" required>
                            <label class="d-flex align-items-center" for="channel{{ forloop.counter }}">
                                <!-- Channel thumbnail -->
                                <img src="{{ channel.snippet.thumbnails.default.url }}" alt="{{ channel.snippet.title }}" class="rounded-circle mr-3" width="50" height="50">
                                <span class="font-weight-bold">{{ channel.snippet.title }}</span>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">
                        <i class="fas fa-chevron-right"></i> Next
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
